.form-block {
  margin-top: 10px;
}

.story-btn {
  margin-top: 15px;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
}

.error-line {
  color: red;
  font-size: 12px;
}
