<div class="sprint-container">
  <h3>Sprint Planner</h3>

  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link first-tab"
        [routerLinkActive]="['active']"
        aria-current="page"
        [routerLink]="['/create-story']"
        >Add Story</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLink]="['/stories']"
        >Stories</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLink]="['/sprint-calculator']"
        >Sprint Calculator</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
