<div class="page">
  @if(!_story.stories || _story.stories.length === 0) {
  <div class="no-data">No data available</div>
  } @else() {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Story Name</th>
        <th scope="col">Story Point</th>
      </tr>
    </thead>
    <tbody>
      @for(story of _story.stories; track story; let index = $index) {
      <tr>
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ story?.name }}</td>
        <td>{{ story?.point }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
